<!DOCTYPE html>
<html lang=en> <!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Material Admin</title>
    <!-- begin REM Zoom 计算 -->
    <script type="text/javascript">
        (function (win) {
            var remCalc = {};
            var docEl = win.document.documentElement,
                tid,
                hasRem = false,
                hasZoom = true,
                zoomRuler = 'width',
                designWidth = 750,
                designHeight = 1206;

            function refresh() {
                var width = docEl.clientWidth;
                var height = docEl.clientHeight;
                if (width > 768) {
                    width = 768
                }
                if (hasRem) {
                    var rem = width / 10;
                    docEl.style.fontSize = rem + "px";
                    remCalc.rem = rem;
                    var actualSize = parseFloat(window.getComputedStyle(document.documentElement)["font-size"]);
                    if (actualSize !== rem && actualSize > 0 && Math.abs(actualSize - rem) > 1) {
                        var remScaled = rem * rem / actualSize;
                        docEl.style.fontSize = remScaled + "px"
                    }
                }
                if (hasZoom) {
                    var style = document.getElementById('J__style')
                    if (!style) {
                        style = document.createElement('style')
                        style.id = 'J__style'
                    }
                    if (zoomRuler === 'height') {
                        style.innerHTML = '.__z{zoom:' + height / designHeight + '}'
                    } else {
                        style.innerHTML = '.__z{zoom:' + width / designWidth + '}'
                    }
                    document.getElementsByTagName('head')[0].appendChild(style)
                }
            }

            function dbcRefresh() {
                clearTimeout(tid);
                tid = setTimeout(refresh, 100)
            }

            win.addEventListener("resize", function () {
                dbcRefresh()
            }, false);

            win.addEventListener("pageshow", function (e) {
                if (e.persisted) {
                    dbcRefresh()
                }
            }, false);
            refresh();
            if (hasRem) {
                remCalc.refresh = refresh;
                remCalc.rem2px = function (d) {
                    var val = parseFloat(d) * this.rem;
                    if (typeof d === "string" && d.match(/rem$/)) {
                        val += "px"
                    }
                    return val
                };
                remCalc.px2rem = function (d) {
                    var val = parseFloat(d) / this.rem;
                    if (typeof d === "string" && d.match(/px$/)) {
                        val += "rem"
                    }
                    return val
                };
                win.remCalc = remCalc
            }
        })(window);

    </script>
    <!-- end REM Zoom 计算 -->
    <link href="../static/css/theme.3b0f8c.css" rel="stylesheet">
</head>
<body>
<div class=page-error>
    <div class=page-error__inner><h2>Oops!</h2>
        <p>Nah.. it's 404</p>
        <p>{{ error }} &nbsp;<a href="{{ url_for('page.index') }}">去我的主页</a></p>
    </div>
</div>
<script type="text/javascript" src="../static/js/manifest.9388d0.js"></script>
<script type="text/javascript" src="../static/js/vendor.d35444.js"></script>
<script type="text/javascript" src="../static/js/theme.3b0f8c.js"></script>
</body>
</html>