<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name=format-detection content="telephone=no">
    <title>扫码挪车 - 黄龙物联 Huangloong IoT</title>
    <!-- begin REM Zoom 计算 -->
    <script type="text/javascript">
        (function (win) {
            var remCalc = {};
            var docEl = win.document.documentElement,
                tid,
                hasRem = false,
                hasZoom = true,
                zoomRuler = 'width',
                designWidth = 750,
                designHeight = 1206;

            function refresh() {
                var width = docEl.clientWidth;
                var height = docEl.clientHeight;
                if (width > 768) {
                    width = 768
                }
                if (hasRem) {
                    var rem = width / 10;
                    docEl.style.fontSize = rem + "px";
                    remCalc.rem = rem;
                    var actualSize = parseFloat(window.getComputedStyle(document.documentElement)["font-size"]);
                    if (actualSize !== rem && actualSize > 0 && Math.abs(actualSize - rem) > 1) {
                        var remScaled = rem * rem / actualSize;
                        docEl.style.fontSize = remScaled + "px"
                    }
                }
                if (hasZoom) {
                    var style = document.getElementById('J__style')
                    if (!style) {
                        style = document.createElement('style')
                        style.id = 'J__style'
                    }
                    if (zoomRuler === 'height') {
                        style.innerHTML = '.__z{zoom:' + height / designHeight + '}'
                    } else {
                        style.innerHTML = '.__z{zoom:' + width / designWidth + '}'
                    }
                    document.getElementsByTagName('head')[0].appendChild(style)
                }
            }

            function dbcRefresh() {
                clearTimeout(tid);
                tid = setTimeout(refresh, 100)
            }

            win.addEventListener("resize", function () {
                dbcRefresh()
            }, false);

            win.addEventListener("pageshow", function (e) {
                if (e.persisted) {
                    dbcRefresh()
                }
            }, false);
            refresh();
            if (hasRem) {
                remCalc.refresh = refresh;
                remCalc.rem2px = function (d) {
                    var val = parseFloat(d) * this.rem;
                    if (typeof d === "string" && d.match(/rem$/)) {
                        val += "px"
                    }
                    return val
                };
                remCalc.px2rem = function (d) {
                    var val = parseFloat(d) / this.rem;
                    if (typeof d === "string" && d.match(/px$/)) {
                        val += "rem"
                    }
                    return val
                };
                win.remCalc = remCalc
            }
        })(window);

    </script>
    <!-- end REM Zoom 计算 -->
    <link href="{{ url_for('static', filename='css/theme.3b0f8c.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.ef7cac.css') }}" rel="stylesheet">
</head>
<body>
<div id=o2_loading class=loading>
    <div class=inner><i class=before></i> <i class=after></i></div>
    <div class=text>loading</div>
</div>
<div class="full-height vertical-center-items padding-all-small">
    <div class="box full-width">
        <div class="portion whole">
            <div class="avatar horizontal-center-this" style=background-image:url({{ callee.head_pic }})></div>
        </div>
        <div class="portion whole text-center margin-top-tiny"><h2>{{ callee.car_num }}</h2></div>
        <div class="portion whole text-center margin-top-large">
            <a class="ff-button shape-curved bordered">
                <!--button id="btn" type="button" class=text-large onclick="getCall()">呼叫车主</button-->
                <span id="btn"  class=text-large >呼叫车主</span>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/layer.js"></script>
<script type="text/javascript">
    $(function () {

       $('#btn').click(function (event) {
        console.log({{ caller.phone }});
        console.log({{ callee.phone }});

        $.ajax({
            type:"POST",
            data:{caller:{{caller.phone}}, callee:{{callee.phone}}},
            url:"{{ url_for('api.connect_call') }}",
            cache:false,
            dataType:"html",

            success: function (msg) {
                if(msg.length===11){
                    var html = "拨打<br><h3><a href='tel:"+msg+"'>"+msg+"</a></h3>";
                    layer.confirm(html, {
                        icon: 3,
                        title: '呼叫车主',
                        btn: ['取消'],
                        anim: 2,
                        closeBtn: 0
                        }, function(){
                            layer.msg('取消成功,已解绑', {
                                icon: 1,
                                time:1000
                            })
                           }
                    )}
                else{
                    layer.alert(msg, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 0 //动画类型
                    });
                }
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg(XMLHttpRequest.status + "\n" + errorThrown + "\n" + textStatus, {
                    icon: 2,
                    time: 1000
                });
            }
        })
       }) 
    });
    
    function getCall() {
        alert("hello");
        alert({{ caller.phone }});
        alert({{ callee.phone }});

        $.ajax({
            url:"{{ url_for('api.connect_call') }}",
            type:"POST",
            data:{caller:{{caller.phone}}, callee:{{callee.phone}}},
            cache:false,
            dataType:"html",

            success: function (msg) {
                if(msg.length===11){
                    var html = "拨打<a href='tel:"+msg+"'>"+msg+"</a>"
                }
                else{
                    alert(msg)
                }
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status+"\n"+errorThrown+"\n"+textStatus)
            }
        })
    }
</script>
<script type="text/javascript" src="../static/js/manifest.9388d0.js"></script>
<script type="text/javascript" src="../static/js/vendor.d35444.js"></script>
<script type="text/javascript" src="../static/js/theme.3b0f8c.js"></script>
<script type="text/javascript" src="../static/js/index.ef7cac.js"></script>


</body>
</html>