<!DOCTYPE html>
<html lang="en">
<body>
<link rel="stylesheet" href="../static/css/plate.css">

<h3 id="menu-scan">微信扫一扫
      <span class="desc">调起微信扫一扫接口</span>
      <button class="btn btn_primary" id="scanQRCode0">scanQRCode(微信处理结果)</button>
      <button class="btn btn_primary" id="scanQRCode1">scanQRCode(直接返回结果)</button>
</h3>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../static/js/jquery-3.1.0.min.js"></script>
<script>
   $(function () {
       scrc0 = document.querySelector('#scanQRCode0');//$('#scanQRCode0');
       scrc1 = document.querySelector('#scanQRCode1');//$('#scanQRCode0');

       $.ajax({
           url: "{{ url_for('api.jssdk') }}",
           type: "POST",
           data: {url: location.href.split('#')[0]},
           dataType: "json",
           cache: false,
           async: false,

           success: function (resp) {
               wx.config({
                   debug: true,
                   appId: resp.data.appId,
                   timestamp: resp.data.timestamp,
                   nonceStr: resp.data.nonceStr,
                   signature: resp.data.signature,
                   jsApiList: [
                       'checkJsApi', 'scanQRCode'
                   ]
               });
               wx.scanQRCode();
           },
           error: function (XMLHttpRequest, textStatus, errorThrown) {
               alert(XMLHttpRequest.status + "\n" + errorThrown + "\n" + textStatus)
           }
       });

       scrc0.onclick = function () {
        wx.scanQRCode({

        });
       };

       scrc1.onclick = function () {
           wx.scanQRCode({
            needResult: 1,
            desc: 'scanQRCode desc',
            success: function (res) {
                alert(JSON.stringify(res));
      }
    });
       }


    });

</script>
<script type="text/javascript" src="../static/js/zepto.min.js"></script>
<script type="text/javascript" src="../static/js/vendor.d35444.js"></script>
</body>
</html>